### Tuples
* t1 parenthesis() li square brackets[]
* Difference between list and tuples
* list are mutable - can be changed/modified
* Used to access modify,add,delete data
* Tuples are immutable - cannot be changed
* Used to access data only

In [14]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

# Data Structures
* Dictionaries

### Dictionaries
* It works on the concept of set unique data
* Keys,Values is the unique identifier for a value
* Each key is separated from its value with colon(:)
* Each key and value is separated by comma(,)
* Dictionaries enclosed with curly braces({})

In [3]:
d1 = {"Name" : "Gitam","Emailid":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [4]:
d1["Name"]# access specific data

'Gitam'

In [5]:
d1['Emailid'] = 'Gitam-python@gmail.com'#update the data
d1['Emailid']

'Gitam-python@gmail.com'

In [6]:
del d1['Emailid']#del the specific key value
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [8]:
d1.keys()# returns the list of keys

dict_keys(['Name', 'Address'])

In [10]:
d1.values()#returns the values

dict_values(['Gitam', 'Hyderabad'])

In [12]:
d1.items()#the list of tuples of keys and valus

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### CONTACT APPLICATION
* Add contact
* search the contact
* List ALL contacts
* name1:phone1
* name2:phone2
* Modify the contact
* Remove the contact
* Import the contact

In [17]:
# Add contact
contacts = {}# creating a dict object
def addContact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("COntact is details are added")
    else:
        print("Contact details are already exists")
    return
addContact('Anil','9876543210')
addContact('Naveen','9966552211')
addContact('Anil','9876543210')

COntact is details are added
COntact is details are added
Contact details are already exists

In [18]:
contacts

{'Anil': '9876543210', 'Naveen': '9966552211'}

In [19]:
# Search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchcontact('Anil')
searchcontact('Harsha')
searchcontact('Naveen')

Anil : 9876543210
Harsha does not exists
Naveen : 9966552211

In [22]:
# import some contacts
# merge the contact with existing one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"Contacts added successfully")
    return
newcontacts = {'dinesh':9988774455,'ajay':9977445566}
importcontact(newcontacts)

2 Contacts added successfully

In [23]:
contacts

{'Anil': '9876543210',
 'Naveen': '9966552211',
 'dinesh': 9988774455,
 'ajay': 9977445566}

In [24]:
# delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('ajay')

ajay deleted successfully

In [26]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"Updated successfully")
    else:
        print(name,"Not exists")
    return
deletecontact('anil',9988774455)
deletecontact('ajay',9988665544)

anil Not exists
ajay Not exists

In [27]:
# assessment-4
4. The program must accept a string S as the input. The program print the longest word from the string S as the output. If two or more longest words are of same length then consider the first one.
s1 = ["gitam mornig"]
a = "good"
b = "morning"
if len(a)>=len(b):
    print("good")
else:
    print("morning")

morning

In [33]:
# fibnacci series

def reverseFibonacci(n): 
  
   a = [0] * n  
 
   
   a[0] = 0 
   a[1] = 1 
 
   for i in range(2, n):   
 
       # storing sum in the 
       # preceding location 
       a[i] = a[i - 2] + a[i - 1]  
      
 
   for i in range(n - 1, -1 , -1):   
 
       # printing array in 
       # reverse order 
       print(a[i],end=" ")  
      
  # Driver function 
n = 5 
reverseFibonacci(n)

3 2 1 1 0

In [40]:
def  threepow(n):
    for i in range(n):
        k=3**i
        print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [34]:
def twopow(n):
    for i in range(n):
        k=2**i
         print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [41]:
# classical version
li= ["python","programming"]
print("%s %s" % (li[0],li[1]))

python programming

In [42]:
print("{0} {1}".format(li[0],li[1]))

python programming

In [44]:
li1 = [1,2,3,4]
print("%d %d %d %d" % (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [46]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### String Functions
* upper()--will converts the given string to uppercase
* lower()--will converts the given string to lowercase

In [47]:
s1 = 'gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

# ## Boolean Function(True and False)
* islower()---True if the string is lower case/false if string not in lowercase
* isupper()---true if the string in uppercase/false if string not in uppercase
* istittle()---true if the string followstittle case/false
* isalpha()---true if te=hr string contains only alphabets/false
* isnumeric()--true if the string contains only numbers/false
* isspace()---true if the string contains only space/false

In [49]:
s1 = 'GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [52]:
s2 = "Python Programming"
s3 = "python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [53]:
s2 = "Application1889"
s3 = 'PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [54]:
s1 = "1234"
s2 = "Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [55]:
s1 = " "
s2 = "py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### String Methods
* 1.join()--Method will concatinates the two strings
* 2.split()--split returns the list of strings separated by whitespace(parameters are given)
* 3.replace()---replace the specific word/charactor

In [57]:
s1 = 'python'
print(" ".join(s1))

p y t h o n

In [58]:
s2 = "Python Programming Easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,s,y, ,t,o, ,l,e,a,r,n

In [61]:
li = ['Python','programming','learn']
print(",".join(li))

Python,programming,learn

In [62]:
s2 = "Python Programming Easy to learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'learn']

In [65]:
s2 = "Python Programming Easy to learn"
li = s2.split()
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [66]:
s2 = "Python Programming Easy to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [67]:
s2 = "Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn

In [72]:
#12. Series Generations:-  1 3 8 15 27 50 92 169 311
def generateseries(n):
    a=1
    b=3
    c=4
    print(a)
    print(b)
    for i in range(n):
        sum=a+b+c
        a=b
        b=c
        c=sum
        print(sum)
    return
generateseries(10)

1
3
8
15
27
50
92
169
311
572
1052
1935

In [73]:
##13. Series Generations:-  2 15 41 80 132 197 275 366 470 587
def series(n):
    m=2
    for i in range(n):
        r=13*i+m
        print(r,end=" ")
        m=r
    return
series(10)

2 15 41 80 132 197 275 366 470 587

In [75]:
##14. Series Generations:-  1! + 2! + 3! + 4! + 5! + ... + n!
#1! + 2! + 3! + 4! + 5! + ... + n!
n=int(input("enter n value"))
for x in range(1,n):
    print(x,"!+",end=" ")

enter n value10
1 !+ 2 !+ 3 !+ 4 !+ 5 !+ 6 !+ 7 !+ 8 !+ 9 !+

### imports

In [76]:
# import the externals packages to python file
import math
math.floor(123.45)

123

In [77]:
from math import factorial as fact
fact(5)

120

In [79]:
# Function to generate n random numbers in given range
import random
def randomnnumbers(n,lb,ub):
    for i in range (0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomnnumbers(10,0,100)

37 52 91 94 97 100 78 62 30 0

In [4]:
# create a simple game
# generate 20 random numbers 0 to 500
# input : number
# output : congrats!!
#          try once again!!!
def generatenumbers(n,lb,ub):
    li = []
    for i in range (0,n):
        li.append(random.randint(lb,ub))
    return li
def check(n):
    if n in li:
        return"congrats!!!"
    else:
        return "Try once again!!!"
    return
li = [1,10,20]
check(15)

'Try once again!!!'

In [7]:
def num(n):
    a=8
    b=1
    c=n//2
    print(1)
    for i in range(1,c+1):
        for i in range(1,3):
            b=b+a
            print(b)
        a=a+8
    return
num(10)

1
9
17
33
49
73
97
129
161
201
241